body {
  margin: 0;
  font-family: 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(255,97,156);
  background: linear-gradient(90deg, rgba(255,97,156,1) 0%, rgba(0,185,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header_Cointainer {
  display: grid;
  grid-template-columns: auto auto;
}

button {
  cursor: pointer;
}